.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}

.Tcolor {
  background: transparent;
}

.a {
  color: white;
  text-decoration: none;
}

.cardMove {
  margin-top: 1.5rem;
  color: black;
  font-size: 25px;
  max-width: 80rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 100ms ease-in-out;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid grey;
  width: 150px;
  height: 150px;
  margin: -20px 27px 0 0;
  float: left;
  display: flex;
}

.circle-avatar {
  border-radius: 50%;
  border: 3px solid white;
  width: 70px;
  height: 70px;
  margin: -80px 185px 0 0;
  display: flex;
}

.Footer {
  background-color: #212529;
  color: #707071;
}

.cardbox {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #282c34;
  background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");
}

.vLine {
  border-left: 6px solid white;
  height: 600px;
  position: absolute;
  left: 50%;
  margin-left: 12px;
  top: 40px;
  z-index: 0;
}

.dLine {
  border-left: 6px dotted white;
  height: 700px;
  position: absolute;
  left: 50%;
  margin-left: 12px;
  top: 0px;
  z-index: 0;
}

.mainCard {
  height: 100px;
  width: 370px;
  margin-bottom: 40px;
  margin-top: 40px;

}

.dot {
  height: 30px;
  width: 30px;
  background-color: rgb(115, 218, 128);
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  transition: 1s;
}

.dot:hover {
  background-color: rgb(25, 150, 42);
}

.redDot {
  height: 30px;
  width: 30px;
  background-color: rgb(212, 75, 75);
  border-radius: 50%;
  border: 4px solid white;
  position: absolute;
  z-index: 3;
  transition: 1s;
}

.redDot:hover {
  background-color: rgb(139, 20, 20);
}

.right {
  float: right;
  width: 130px;
  bottom: 50px;
}

.left {
  float: left;
  margin: 0 0 0 70px;
}

.pad {
  padding-top: 20px;
  color: #82a3aa;
}

.cardLink {
  width: 30%;
  height: auto;
  display: block;
}
.aRight{
  display: inline-block;
}

.charge{
  color: #f0b20acc;
}
 
.Accordion{
  float: right;
  width: 175px;
  height: 35px;
  bottom: 90px;
  left: 350px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
  
}

.Accordion:active{
  animation: fadeIn 5s;
}